.header-container{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.nav-wrapper{
    display: flex;
}
.nav-wrapper {
    margin-right: 25px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.brand-wrapper{
    display: flex;
}
.brand-wrapper div{
    margin-right: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-link-wrapper{
    height : 22px;
    border-bottom: 1px solod transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover {
    border-bottom: 1px solod black;
}
.nav-link-wrapper a:hover {
    color: black;
}